<div class="ms-hero ms-hero-material " >
    <span class="ms-hero-bg"></span>
    <div class="container ">
        <div class="row ">
            <div class="col-xl-6 col-lg-7 vh-100">
                <div id="carousel-hero" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div data-bs-interval="5000" class="carousel-item active">
                            <div class="carousel-caption">
                                <div class="ms-hero-material-text-container">
                                    <header class="ms-hero-material-title animated slideInLeft animation-delay-5">
                                        <h1 class="animated fadeInLeft animation-delay-15 font-smoothing">Welcome to
                                            <strong>Sahosoft</strong> Technologies
                                        </h1>
                                        <h2 class="animated fadeInLeft animation-delay-18">Best resource for learning <span class="color-warning">Web Technologies</span> Quickly & Easily.
                                             
                                        </h2>
                                    </header>

                                    <ul class="ms-hero-material-list">
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-18">
                                                <span
                                                    class="ms-icon ms-icon-circle ms-icon-xlg color-warning shadow-3dp"><i
                                                        class="zmdi zmdi-airplane"></i></span>
                                            </div>

                                            <div class="ms-list-text animated fadeInRight animation-delay-19 text-capitalize">
                                                india's no. 1 <span class="text-warning">learning platform</span>  for software development training
                                    
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-20">
                                                <span
                                                    class="ms-icon ms-icon-circle ms-icon-xlg color-success shadow-3dp"><i
                                                        class="zmdi zmdi-bike"></i></span>
                                            </div>

                                            <div class="ms-list-text animated fadeInRight animation-delay-21">
                                                We Create <span class="text-warning">What you Dream</span>  and we learn what you Appreciate
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-22">
                                                <span
                                                    class="ms-icon ms-icon-circle ms-icon-xlg color-danger shadow-3dp"><i
                                                        class="zmdi zmdi-album"></i></span>
                                            </div>

                                            <div class="ms-list-text animated fadeInRight animation-delay-23">
                                                We Trained More Than <span class="text-warning">10K Student/Developer</span> With Online
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- <div class="ms-hero-material-buttons text-right">
                                        <div class="ms-hero-material-buttons text-right">
                                            <a href="javascript:void(0);"
                                                class="btn btn-warning btn-raised animated fadeInLeft animation-delay-24 mr-2"><i
                                                    class="zmdi zmdi-settings"></i> Personalize</a>
                                            <a href="javascript:void(0);"
                                                class="btn btn-success btn-raised animated fadeInRight animation-delay-24"><i
                                                    class="zmdi zmdi-download"></i> Download</a>
                                        </div>
                                    </div> -->
                                </div> <!-- ms-hero-material-text-container -->
                            </div>
                        </div>
                        <!-- <div data-bs-interval="5000" class="carousel-item">
                            <div class="carousel-caption">
                                <div class="ms-hero-material-text-container">
                                    <header class="ms-hero-material-title animated slideInLeft animation-delay-5">
                                        <h1 class="animated fadeInLeft animation-delay-15">A template with
                                            <strong>infinite</strong> possibilities
                                        </h1>
                                        <h2 class="animated fadeInLeft animation-delay-18">Unlimited combinations to
                                            create <span class="color-warning">unique designs</span> .</h2>
                                    </header>

                                    <ul class="ms-hero-material-list">
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-18">
                                                <span
                                                    class="ms-icon ms-icon-circle ms-icon-xlg color-info shadow-3dp"><i
                                                        class="zmdi zmdi-city"></i></span>
                                            </div>

                                            <div class="ms-list-text animated fadeInRight animation-delay-19">Lorem
                                                ipsum dolor sit amet, consectetur adipisicing elit. Illo, fugit sit
                                                nesciunt cum rerum iusto.</div>
                                        </li>
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-20">
                                                <span
                                                    class="ms-icon ms-icon-circle ms-icon-xlg color-royal shadow-3dp"><i
                                                        class="zmdi zmdi-cake"></i></span>
                                            </div>

                                            <div class="ms-list-text animated fadeInRight animation-delay-21">Lorem
                                                ipsum dolor sit amet, consectetur adipisicing elit. Nisi laborum
                                                dignissimos fuga maxime facere.</div>
                                        </li>
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-22">
                                                <span
                                                    class="ms-icon ms-icon-circle ms-icon-xlg color-warning shadow-3dp"><i
                                                        class="zmdi zmdi-coffee"></i></span>
                                            </div>

                                            <div class="ms-list-text animated fadeInRight animation-delay-23">Lorem
                                                ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                                                sequi est repudianda.</div>
                                        </li>
                                    </ul>
                                    <div class="ms-hero-material-buttons text-right">
                                        <div class="ms-hero-material-buttons text-right">
                                            <a href="javascript:void(0);"
                                                class="btn btn-warning btn-raised animated fadeInLeft animation-delay-24 mr-2"><i
                                                    class="zmdi zmdi-settings"></i> Personalize</a>
                                            <a href="javascript:void(0);"
                                                class="btn btn-success btn-raised animated fadeInRight animation-delay-24"><i
                                                    class="zmdi zmdi-download"></i> Download</a>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div data-bs-interval="5000" class="carousel-item">
                            <div class="carousel-caption">
                                <div class="ms-hero-material-text-container">
                                    <header class="ms-hero-material-title animated slideInLeft animation-delay-5">
                                        <h1 class="animated fadeInLeft animation-delay-15">Commitment of
                                            <strong>monthly updates</strong>.
                                        </h1>
                                        <h2 class="animated fadeInLeft animation-delay-18">There will soon be a
                                            version for <span class="color-warning">Bootstrap 4</span>.</h2>
                                    </header>

                                    <ul class="ms-hero-material-list">
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-18">
                                                <span
                                                    class="ms-icon ms-icon-circle ms-icon-xlg color-danger shadow-3dp"><i
                                                        class="zmdi zmdi-cutlery"></i></span>
                                            </div>

                                            <div class="ms-list-text animated fadeInRight animation-delay-19">Lorem
                                                ipsum dolor sit amet, consectetur adipisicing elit. Illo, fugit sit
                                                nesciunt cum rerum iusto.</div>
                                        </li>
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-20">
                                                <span
                                                    class="ms-icon ms-icon-circle ms-icon-xlg color-info shadow-3dp"><i
                                                        class="zmdi zmdi-dns"></i></span>
                                            </div>

                                            <div class="ms-list-text animated fadeInRight animation-delay-21">Lorem
                                                ipsum dolor sit amet, consectetur adipisicing elit. Nisi laborum
                                                dignissimos fuga maxime facere.</div>
                                        </li>
                                        <li class="">
                                            <div class="ms-list-icon animated zoomInUp animation-delay-22">
                                                <span
                                                    class="ms-icon ms-icon-circle ms-icon-xlg color-success shadow-3dp"><i
                                                        class="zmdi zmdi-compass"></i></span>
                                            </div>

                                            <div class="ms-list-text animated fadeInRight animation-delay-23">Lorem
                                                ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                                                sequi est repudianda.</div>
                                        </li>
                                    </ul>
                                    <div class="ms-hero-material-buttons text-right">
                                        <a href="javascript:void(0);"
                                            class="btn btn-warning btn-raised animated fadeInLeft animation-delay-24 mr-2"><i
                                                class="zmdi zmdi-settings"></i> Personalize</a>
                                        <a href="javascript:void(0);"
                                            class="btn btn-success btn-raised animated fadeInRight animation-delay-24"><i
                                                class="zmdi zmdi-download"></i> Download</a>
                                    </div>
                                </div> 
                            </div>
                        </div> -->


<!-- 
                        <div class="carousel-controls">
                            <a class="left carousel-control animated zoomIn animation-delay-30" role="button"
                                data-bs-target="#carousel-hero" data-bs-slide="prev">
                                <i class="zmdi zmdi-chevron-left"></i>
                                <span class="visually-hidden">Previous</span>
                            </a>

                            <a class="right carousel-control animated zoomIn animation-delay-30" role="button"
                                data-bs-target="#carousel-hero" data-bs-slide="next">
                                <i class="zmdi zmdi-chevron-right"></i>
                                <span class="visually-hidden">Next</span>
                            </a>

                            <ol class="carousel-indicators">
                                <li data-bs-target="#carousel-hero" data-bs-slide-to="0"
                                    class="animated fadeInUpBig animation-delay-27 active"></li>
                                <li data-bs-target="#carousel-hero" data-bs-slide-to="1"
                                    class="animated fadeInUpBig animation-delay-28"></li>
                                <li data-bs-target="#carousel-hero" data-bs-slide-to="2"
                                    class="animated fadeInUpBig animation-delay-29"></li>
                            </ol>
                        </div> -->
                    </div>
                </div>

            </div>

            <div class="col-xl-6 col-lg-5">
                
                <div class="ms-hero-img animated zoomInUp animation-delay-30">
                    <app-login/>
               
                    <!-- <img src="assets/img/demo/mock-imac-material2.png" alt="" class="img-fluid">

                    <div id="carousel-hero-img" class="carousel carousel-fade slide" data-bs-ride="carousel"
                        data-bs-interval="3000">

                        <ol class="carousel-indicators carousel-indicators-hero-img">
                            <li data-bs-target="#carousel-hero-img" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#carousel-hero-img" data-bs-slide-to="1"></li>
                            <li data-bs-target="#carousel-hero-img" data-bs-slide-to="2"></li>
                        </ol>


                        <div class="carousel-inner" role="listbox">
                            <div data-bs-interval="3000" class="ms-hero-img-slider carousel-item active">
                                <img src="assets/img/demo/hero1.png" alt="" class="img-fluid">
                            </div>
                            <div data-bs-interval="3000" class="ms-hero-img-slider carousel-item">
                                <img src="assets/img/demo/hero3.png" alt="" class="img-fluid">
                            </div>
                            <div data-bs-interval="3000" class="ms-hero-img-slider carousel-item">
                                <img src="assets/img/demo/hero2.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div> <!-- container -->
</div> 